{% extends 'base/main.html' %}
{% load static %}
{% block content %}

{% block title %} <title>Channab | Animals Listing</title> {% endblock %}
<style type="text/css">
  .layout-options a i {
    line-height: 23px;
}
.animal_list {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 0px 0 30px;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
</style>
<link rel="stylesheet" href="{% static '/css/livestock/listing_animal.css' %}">

    <div class="preloader" id="preloader">
      <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">Loading...</div>
      </div>
    </div>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a href="{% url 'LandingPageOfSite' %}"><i class="lni-arrow-left"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">Animal List</h6>
        </div>
        <!-- Filter Option-->
        <div class="filter-option" id="suhaNavbarToggler"><i class="lni-cog"></i></div>
      </div>
    </div>
    <!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay"></div>
    <!-- Side Nav Wrapper-->
   <div class="suha-sidenav-wrapper filter-nav" id="sidenavWrapper">
      <!-- Catagory Sidebar Area-->
      <div class="catagory-sidebar-area">
        <!-- Filter Title-->
        <h5 class="mb-3">Filter</h5>
        <!-- Catagory-->
        <div class="widget catagory mb-4">
          <h6 class="widget-title mb-3">Animal Type</h6>
          <div class="widget-desc">
            <!-- Single Checkbox-->
            <form action="/filter_data/" method="post" >
              {% csrf_token %}
         
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck2_live" type="checkbox" name="Male" value="Male">
              <label class="custom-control-label" for="customCheck2_live">Male</label>
            </div>
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck3_live" type="checkbox" name="Female" value="Female">
              <label class="custom-control-label" for="customCheck3_live">Female</label>
            </div>
          </div>
        </div>
        <!-- Color-->

        <!-- Price Searching -->
       
        <!--  -->

        <!-- category -->
        <div class="widget size mb-4">
          <h6 class="widget-title mb-3">Status</h6>
          <div class="widget-desc">
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck218active_live" type="checkbox" name="active_status" value="Active">
              <label class="custom-control-label" for="customCheck218active_live">Active</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck218retired_live" type="checkbox" name="retired_category" value="Retired">
              <label class="custom-control-label" for="customCheck218retired_live">Retired</label>
            </div>
            <!-- Single Checkbox-->
            
          </div>
        </div>

        <!-- end category here -->

        <!-- female status -->
         <div class="widget size mb-4">
          <h6 class="widget-title mb-3">Female Status</h6>
          <div class="widget-desc">
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheckmilking_live" type="checkbox" name="milking_status" value="Milking">
              <label class="custom-control-label" for="customCheckmilking_live">Milking</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck218dy_femal" type="checkbox" name="dry_female_status" value="Dry">
              <label class="custom-control-label" for="customCheck218dy_femal">Dry</label>
            </div>
            <!-- Single Checkbox-->
            
          </div>
        </div>

        <!--  -->

        <!-- Size-->
        <div class="widget size mb-4">
          <h6 class="widget-title mb-3">Animal Age</h6>
          <div class="widget-desc">
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck21_live" type="checkbox" name="less_one_year" value="less_one_year">
              <label class="custom-control-label" for="customCheck21_live">Less then 3 month</label>
            </div>
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck22_live" type="checkbox" name="one_to_two" value="one_to_two">
              <label class="custom-control-label" for="customCheck22_live">Less then 6 month</label>
            </div>
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck23_live" type="checkbox" name="more_than_two" value="more_than_two">
              <label class="custom-control-label" for="customCheck23_live">Less then 1 year</label>
            </div>
            <!-- Single Checkbox-->
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck22_live_1.6" type="checkbox" name="one_to_two" value="one_to_two">
              <label class="custom-control-label" for="customCheck22_live_1.6">Less then 1.6 Year</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
              <input class="custom-control-input" id="customCheck22_live_1.6_more" type="checkbox" name="one_to_two" value="one_to_two">
              <label class="custom-control-label" for="customCheck22_live_1.6_more">More then 1.6 Year</label>
            </div>
          </div>
        </div>
        <!-- Ratings-->

       
       
        <!-- Apply Filter-->
        <div class="apply-filter-btn"><button class="btn btn-success" type="submit">Apply Filter</button></div>
      </form>
      </div>
      <!-- Go Back Button-->
      <div class="go-home-btn" id="goHomeBtn"><i class="lni-arrow-left"></i></div>
    </div>
    <div class="page-content-wrapper">
      <!-- Top Products-->
      <div class="top-products-area pt-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between">
            {% if all_products %}
            <h6 class="ml-1">All Animals</h6>
            {% else %}
            <h6 class="ml-1">Add Animals</h6>
            {% endif %}
            <!-- Layout Options-->
            <div class="layout-options">
              <a class="btn btn-success btn-sm add2cart-notify" href="{% url 'AddAnimalLivestock' %}"><i class="lni-plus"></i></a>
            </div>
          </div>
          {% if all_animals %}
          
          {% for product in all_animal_list %}
          
          <div class="row">
            <div class="animal_list">
                <div class="img_setion col-md-3">
                  <a href="/accounts/view_animal/?product_id={{product.id}}">
                  <div class="img_section">
                    <img src="/media/{{product.image}}" alt="">
                  </div>
                  </a>
                </div>              
              <div class="button_section col-md-9">
                <ul>

                  {% if product.month_result %}
                  <li><a herf="#">Age {{product.month_result}} Month</a></li>

                  {% elif product.year_result %}
                  <li><a herf="#">Age {{product.year_result}} year</a></li>
                  {% endif %}
                  <li><a herf="#">{{product.gender}}</a></li>
                  <li><a herf="#">{{product.animal_type}}</a></li>
                  <li><a herf="#">{{product.animal_breed}}</a></li>
                  {% if product.status == True %}
                  <li><a herf="#">Active</a></li>
                  {% else %}
                  <li><a herf="#" class="red_Active">Disabled</a></li>
                  {% endif %}   
                    <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                  </li>
                </ul>
                
              </div>
              </div>
            </div>
            
  
{% endfor %}
{% else %}
<div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>Oops!</h1>
      </div>
      <h2>No Product found</h2>
      <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
      <a href="/">Back To Homepage</a>
    </div>
  </div>
  </div>



       
        
        
  {% endif %}
   </div>
      </div>
    </div>

{% endblock %}