{% extends 'base/main.html' %}
{% load static %}
{% block content %}
{% block title %} <title>Channab | Add Animal</title> 
{% endblock %}
<style type="text/css">
  .btn-group {
    width: 344px !important;
    background-color: whitesmoke;
}
 
ul.multiselect-container.dropdown-menu.show {
    
    background-color: #00b894;
}
.user-info-card {
    background-color: #d7d294;
    border-color: #d3dfdf;
  }
</style>
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a href="{% url 'LandingPageOfSite' %}"><i class="lni-arrow-left"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">Sell your Animal</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
      </div>
    </div>
    <!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay"></div>
    <!-- Side Nav Wrapper-->
    <div class="suha-sidenav-wrapper" id="sidenavWrapper">
      <!-- Sidenav Profile-->
      {% if request.user.is_authenticated %}
      <div class="sidenav-profile">
        <div class="user-profile"><img src="{% static 'img/bg-img/9.jpg' %}" alt=""></div>
        <div class="user-info">
          <h6 class="user-name mb-0">Suha Jannat</h6>
          <p class="available-balance">Balance <span>$<span class="counter">379.23</span></span></p>
        </div>
      </div>
      {% endif %}
      <!-- Sidenav Nav-->
      {% if request.user.is_authenticated %}
      <ul class="sidenav-nav">
        <li><a href="#"><i class="lni-alarm lni-tada-effect"></i>Notifications<span class="ml-3 badge badge-warning">3</span></a></li>
        <li><a href="#"><i class="lni-empty-file"></i>All Pages</a></li>
        <li><a href="#"><i class="lni-heart-filled"></i>My Wishlist</a></li>
        <li><a href="#"><i class="lni-cog"></i>Settings</a></li>
        <li><a href="#" id="logout_popup"><i class="lni-power-switch"></i>Sign Out</a></li>
      </ul>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <ul class="sidenav-nav">
        <li><a href="{% url 'RegisterView' %}"><i class="lni-user"></i>Create New Account</a></li>
        <li><a href="{% url 'LoginView' %}"><i class="lni-power-switch"></i>Sign In</a></li>
      </ul>
      {% endif %}
      <!-- Go Back Button-->
      <div class="go-home-btn" id="goHomeBtn"><i class="lni-arrow-left"></i></div>
    </div>
<div class="page-content-wrapper">
      <div class="container">
        <!-- Profile Wrapper-->
        <div class="profile-wrapper-area py-3">
          <!-- User Information-->
          <div class="card user-info-card">

              <div class="user-info">

                <h3 class="text-center">Animal Detail</h3>
              </div>
            </div>
          </div>
          <!-- User Meta Data-->
          <div class="card user-data-card">
            {% if message %}
                       
                              <div class="alert alert-success" id="msg_Sucess_log">
                                 {{ message }}
                              </div>
                        {% endif %}
                        {% if error %}
                              <div class="alert alert-danger" id="msg_err_log">
                                 {{ error }}
                              </div>
                        {% endif %}
            <div class="card-body">
              <form action="" method="POST" enctype="multipart/form-data" id = "add_animal_js">
                {% csrf_token %}
                <div class="row">
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="fa fa-header" aria-hidden="true"></i><span>Animal Title</span></div>
                  <input class="form-control" id="name_animal" name = "name" type="text" value="" placeholder="Animal Title" onkeyup="NameAnimal()" minlength="3" maxlength="16" >
                  <span  class="error-msg" id="name_animal_label" style="display: none"></span>
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="fa fa-birthday-cake" aria-hidden="true"></i><span>Year</span></div>
                  <input class="form-control" id="age_Check" type="number" name = "age" accept="" value=""placeholder="Year" >
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="fa fa-caret-down" aria-hidden="true"></i><span>Animal Category</span></div>
                  <select name="category" id = "countary_check_text_found" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control">
                    <option value="Select">Select Category</option>
                    {% for one in all_category %}
                    <option value="{{one}}">{{one}}</option>
                    {% endfor %}
                  </select>
                  <span class="error-msg" id="label_your_account" style="display: none">This Field is required</span>                               
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Market Address</span></div>
                  <select name="marketplace[]" id = "marketplace" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control" multiple="multiple">
                    {% for one in all_markets %}
                    <option value="{{one.id}}">{{one.market_name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="fa fa-money" aria-hidden="true"></i><span>Price</span></div>
                  <input class="form-control" id="price_text" name = "price" type="number" value="" placeholder="Price" onkeyup="PriceCheck()" minlength="1" maxlength="5">
                  <span  class="error-msg" id="price_check_label" style="display: none"></span>
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="lni-phone-handset"></i><span>Phone</span></div>
                  <input class="form-control" id="mobilenumber" name = "mobilenumber" type="number" value="" placeholder="Mobile Number" minlength="6" maxlength="15" onkeyup="PhoneCheck()">
                  <span  class="error-msg" id="mobile_label" style="display: none"></span>
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="lni-map-marker"></i><span>City</span></div>
                  <input class="form-control" type="city" id="city" name = "city" value="{{city}}" placeholder="city">
                </div>
                <div class="form-group col-md-4">
                  <div class="title mb-2"><i class="fa fa-paw" aria-hidden="true"></i><span>Animal Type</span></div>
                  <select name="animal_type" id = "countary_check_text_found" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control">
                    <option value="---">Select Type</option>
                    <option value="Dry">Dry</option>
                    <option value="Milking">Milking</option>
                    <option value="Breader">Breader</option>
                  </select>                               
                </div>
                <div class="form-group col-md-4 col-sm-12">
                  <div class="title mb-2"><i class="lni-envelope"></i><span>Description</span></div>
                  <input class="form-control" id="textarea_Desc" type="text" name = "description" accept="" value=""placeholder="Description" >

                  <span  class="error-msg" id="description_label" style="display: none"></span>
                </div>

                </div>
                
             
              <div class="row">              
           
                <div class="form-group col-md-2 image_section_upload">
                  <!-- div class="title mb-2"><i class="lni lni-camera"></i><span>Image</span></div -->
                  <button  class="btn btn-success" type="button" style="display:block;" onclick="document.getElementById('getFile1_found').click()"><i class="lni lni-camera"></i>Image Upload</button>
                  <input type='file' id="getFile1_found" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="main_image" style="display:none"onchange="readURLMySecond_Found(this)">
                  <span class="error-msg"id="images_sec_check_label_found" style="display: none"></span>
                  <div class="col-md-12 text-center">
                    <img id="blah2_found" src="./img/bg-img/11.jpg" alt="your image" style="display: none;" />
                  </div>
                </div>
				<div class="form-group col-md-2 image_section_upload">
                  <!-- div class="title mb-2"><i class="lni lni-camera"></i><span>Image</span></div -->
                  <button  class="btn btn-success" type="button" style="display:block;" onclick="document.getElementById('getFile2_found').click()"><i class="lni lni-camera"></i>Image Upload</button>
                  <input type='file' id="getFile2_found" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="ist_image" style="display:none"onchange="readURLMySecond1_Found(this)">
                  <br>
                  <div class="col-md-12 text-center">
                    <img id="blah3_found" src="./img/bg-img/11.jpg" alt="your image" style="display: none;" />
                  </div>
                </div>
				<div class="form-group col-md-2 image_section_upload">
                  <!-- div class="title mb-2"><i class="lni lni-camera"></i><span>Image</span></div -->
                  <button  class="btn btn-success" type="button" style="display:block;" onclick="document.getElementById('getFile4_found').click()"><i class="lni lni-camera"></i>Image Upload</button>
                  <input type='file' id="getFile4_found" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="sec_image" style="display:none"onchange="readURLMySecond4_Found(this)">
                  <br>
                  <div class="col-md-12 text-center">
                    <img id="blah4_found" src="./img/bg-img/11.jpg" alt="your image" style="display: none;" />
                  </div>
                </div>
				<div class="form-group col-md-2 image_section_upload">
                  <!-- div class="title mb-2"><i class="lni lni-camera"></i><span>Image</span></div -->
                  <button  class="btn btn-success" type="button" style="display:block;" onclick="document.getElementById('getFile5_found').click()"><i class="lni lni-camera"></i>Image Upload</button>
                  <input type='file' id="getFile5_found" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="iiird_image" style="display:none"onchange="MyreadURLSecond4_Found(this)">
                   <br>
                  <div class="col-md-12 text-center">
                    <img id="blah5_found" src="./img/bg-img/11.jpg" alt="your image" style="display: none;" />
                  </div>
                </div>
				<div class="form-group col-md-2 image_section_upload">
                  <!-- div class="title mb-2"><i class="lni lni-camera"></i><span>Image</span></div -->
                  <button  class="btn btn-success" type="button" style="display:block;" onclick="document.getElementById('getFile6_found').click()"><i class="lni lni-camera"></i>Image Upload</button>
                  <input type='file' id="getFile6_found" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="fourth_image" style="display:none"onchange="MyfourthImage(this)">
                   <br>
                  <div class="col-md-12 text-center">
                    <img id="fourth_image_show" src="./img/bg-img/11.jpg" alt="your image" style="display: none;" />
                  </div>
                </div>
				<div class="form-group col-md-2 image_section_upload">
                  <!-- div class="title mb-2"><i class="lni lni-camera"></i><span>Image</span></div -->
                  <button  class="btn btn-success" type="button" style="display:block;" onclick="document.getElementById('fifth_image_id').click()"><i class="lni lni-camera"></i>Image Upload</button>
                  <input type='file' id="fifth_image_id" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="fifth_image" style="display:none"onchange="fifth_imageCheck(this)">
                   <br>
                  <div class="col-md-12 text-center">
                    <img id="fifth_show" src="./img/bg-img/11.jpg" alt="your image" style="display: none;" />
                  </div>
                </div>
			
				
                <div class="form-group col-md-12 button_submit text-center">
                  <button class="btn btn-success w-100" type="submit">Submit</button>
                </div>
            
              </div>
            </div>

                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock%}
